<footer class="page-footer fixed-bottom rgba-green-strong center-on-small-only pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-socials mb-5 flex-center">
          <!--Facebook-->
          <a class="icons-sm fb-ic"><i class="fab fa-facebook-square fa-lg white-text mr-md-4"> </i></a>
          <!--Twitter-->
          <a class="icons-sm tw-ic"><i class="fab fa-twitter-square fa-lg white-text mr-md-4"> </i></a>
          <!--Google +-->
          <a class="icons-sm gplus-ic"><i class="fab fa-google-plus-square fa-lg white-text mr-md-4"> </i></a>
          <!--Linkedin-->
          <a class="icons-sm li-ic"><i class="fab fa-linkedin fa-lg white-text mr-md-4"> </i></a>
          <!--Instagram-->
          <a class="icons-sm ins-ic"><i class="fab fa-instagram fa-lg white-text mr-md-4"> </i></a>
          <!--Pinterest-->
          <a class="icons-sm pin-ic"><i class="fab fa-pinterest fa-lg white-text"> </i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
      <div class="container-fluid">
          © 2018 Projeto desenvolvido durante o Fullstack Academy - <a href="https://www.devpleno.com">DevPleno</a>
      </div>
  </div>
</footer>


    <!-- SCRIPTS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>
    
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>